@import 'react-quill/dist/quill.snow.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*, :after, :before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: Poppins, sans-serif;
}

.main-admin-container {
    overflow-y: auto;
    max-height: calc(100vh - 56px);
}

.banner {
    background-image: url(/images/banner.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.moving-item {
    position: absolute;
    transition: .2s linear;
    z-index: -1;
    width: auto;
    height: auto;
}

.moving-item-wrapper {
    overflow: hidden;
}

#moving-item-1 {
    top: 46%;
    right: 5%;
    z-index: 1;
    animation: linear infinite movingItem1 2s
}

#moving-item-2 {
    top: 50%;
    right: 36%;
    z-index: 1;
    animation: linear infinite movingItem1 2s
}

#moving-item-4 {
    top: 70%;
    right: 45%;
    animation: linear infinite movingItem1 2s
}

#moving-item-3 {
    top: 10%;
    left: 17%;
    animation: linear infinite movingItem1 2s
}

#moving-item-5 {
    bottom: 10%;
    left: 10%;
    animation: linear infinite movingItem1 2s
}

#moving-item-6 {
    top: 35%;
    left: 45%;
    animation: linear infinite movingItem1 2s
}

#moving-item-7 {
    top: 45%;
    left: 2%;
    animation: linear infinite movingItem1 2s
}

#moving-item-8 {
    top: 20%;
    right: 17%;
    animation: linear infinite movingItem1 2s
}


@keyframes movingItem1 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(10px, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.card {
    background: #FFFFFF;
    border: 0.5px solid #DADADA;
    box-shadow: 0 10.2474px 15.6408px rgba(5, 5, 5, 0.11);
    border-radius: 10.7867px;
}

.card-number {
    border-radius: 14.0228px;
}

.card-number-one {
    background: #3575E299;
}

.card-number-two {
    background: #63BE98;
}

.video-banner {
    background-image: url(/images/who-enjoys-banner.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.video-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF4D;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.video-button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 50%;
}

.social-button {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: .25s linear;
    border: 1px solid transparent;
}

.social-button:hover {
    border-color: #FFFFFF;
}

.input {
    min-width: 100%;
    min-height: 58.1px;
    border: 0.9px solid rgba(255, 255, 255, 0.38);
    border-radius: 8px;
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
}

.input.admin-input {
    background: #FFFFFF;
    border: 0.793076px solid #263041;
    color: #263041;
    font-size: 13px;
    padding: 12px;
    min-height: 50px;
}

input.admin-input::placeholder, .input.admin-input::-webkit-input-placeholder, .input.admin-input::-moz-placeholder, .input.admin-input:-ms-input-placeholder, .input.admin-input:-moz-placeholder {
    color: #72737C;
}


input::placeholder, .input::-webkit-input-placeholder, .input::-moz-placeholder, .input:-ms-input-placeholder, .input:-moz-placeholder {
    font-weight: 400;
    font-size: 14.4px;
    line-height: 23px;
    color: #909090;
}

input:focus, input:focus-within, input:focus-visible, .input:focus, .input:focus-within, .input:focus-visible {
    outline: none;
}

.input.fill {
    background: #FFFFFF;
    border: 0.793076px solid #E4E4E4;
    color: #72737C;
}

.input.fill::placeholder, .input.fill::-webkit-input-placeholder, .input.fill::-moz-placeholder, .input.fill:-ms-input-placeholder, .input.fill:-moz-placeholder {
    color: #72737C;
}


.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #FFFFFF;
    transition: .2s linear;
    border: 1px solid #FFFFFF;
}

.button:hover {
    background: transparent;
    color: #FFFFFF;
}

.button.primary {
    background: #F9B400;
    color: #FFFFFF;
    border: 1px solid #F9B400;
}

.button.secondary {
    background: #263041;
    color: #FFFFFF;
    border: 1px solid #263041;
}

.button.primary:hover {
    background: transparent;
    color: #F9B400;
}

.button.secondary:hover {
    background: transparent;
    color: #263041;
}

.claim-input-container {
    border: 1.12896px solid #363843;
    border-radius: 8px;
}

.video-banner-liners {
    position: absolute;
}


.video-banner-liners.left {
    top: -150px;
    left: 0;
}

.video-banner-liners.right {
    bottom: -220px;
    right: 0;
}

@media screen and (max-width: 768px) {
    body {
        background: linear-gradient(176.98deg, #F4EEFF 0%, #F0EFFF 61.77%, #ECFAFF 100%);
    }

    .banner, .video-banner {
        background-image: none;
    }

    .card-number {
        border-radius: 4.21297px;
    }

    .card {
        border-radius: 8.24px;
    }

    .video-banner-liners.left, .video-banner-liners.right {
        top: -200%;
        bottom: unset;
    }

    #moving-item-1 {
        top: 80%;
        right: 2%;
    }

    #moving-item-2 {
        top: 60%;
        right: 55%;
    }

    #moving-item-4 {
        top: 95%;
        right: 45%;
    }

    #moving-item-3 {
        top: 5%;
        left: 30%;
    }

    #moving-item-5 {
        bottom: 40%;
        left: 0;
    }

    #moving-item-6 {
        top: 25%;
        left: 45%;
    }

    #moving-item-7 {
        top: 4%;
        left: 82%;
    }

    #moving-item-8 {
        top: 34%;
        right: 17%;
    }
}

.quill {
    background: white;
}

.ql-editor {
    min-height: 400px;
}