.img {
  position: absolute;
  width: 105px;
  height: 63.91px;
  left: 88px;
  top: 40.09px;
}
.head {
  position: absolute;
  width: 651px;
  height: 75px;
  left: 102px;
  top: 145px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 74px;
  /* identical to box height, or 149% */

  color: #263041;
}
.para {
  position: absolute;
  width: 576px;
  height: 75px;
  left: 102px;
  top: 236px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  /* or 206% */

  color: #525c7a;
}
.para2 {
  position: absolute;
  width: 556.89px;
  height: 75px;
  left: 102px;
  top: 340px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
  /* or 133% */

  color: #4a4a4a;
}
.para3 {
  position: absolute;
  width: 599px;
  height: 75px;
  left: 103px;
  top: 527.35px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 37px;
  /* or 195% */

  color: #525c7a;
}
.h2 {
  position: absolute;
  width: 604px;
  height: 45px;
  left: 418px;
  top: 837px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 45px;
  /* identical to box height, or 107% */

  display: flex;
  align-items: center;

  /* BG Colors/bg-dark */

  color: #263041;
}
.p1 {
  position: absolute;
  width: 488px;
  height: 52px;
  left: 476px;
  top: 913px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  text-align: center;

  /* Dark */

  color: #363848;
}
.b1 {
  position: absolute;
  width: 157px;
  color: white;
  height: 65px;
  left: 479px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 19.8561px;
line-height: 40px;
/* identical to box height, or 200% */
  top: 457.62px;
  border: none;

  background: #f9b400;
  border-radius: 8px;
}.b1:hover {background-color: grey}

.b1:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.follow{
  position: absolute;
width: 314px;
height: 58px;
left: 177px;
top: 3523px;

}


.b2 {
  position: absolute;
  width: 151px;
    color: white;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14.8494px;
line-height: 22px;

height: 48px;
left: 1092px;
top: 3058px;

  background: #f9b400;
  border-radius: 8px;
  border-color: none;
  border: none;
}
.b2:hover {background-color: grey}

.b2:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.inp1 {
  position: absolute;
  padding: 10px 20px;
  width: 317px;
  height: 44px;
  left: 102px;
  top: 457.62px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14.8494px;
line-height: 22px;

  background: #ffffff;
  border: 0.793076px solid #e4e4e4;
  border-radius: 8px;
}

.inp2 {
  position: absolute;
  width: 456px;
  
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14.8494px;
line-height: 22px;
/* identical to box height */


color: #72737C;
  padding: 16px;
  height: 33px;
  left: 767px;
  top: 3048.62px;
  background: #ffffff;
  border: 0.793076px solid #e4e4e4;
  border-radius: 8px;
  border-color: black;
}

.no {
  position: absolute;
  width: 173px;
  height: 25px;
  left: 267px;
  top: 1112px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.8816px;
  line-height: 24px;
  /* identical to box height, or 135% */

  /* Dark */

  color: #363848;
}
.feel {
  position: absolute;
  width: 110px;
  height: 25px;
  left: 197.7px;
  top: 1275.57px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.8816px;
  line-height: 24px;
  /* identical to box height, or 135% */

  /* Dark */

  color: #363848;
}
.match {
  position: absolute;
  width: 250px;
  height: 72px;
  left: 195.7px;
  top: 1299.57px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  color: #6d6d6d;
}

.create {
  position: absolute;
  width: 252px;
  height: 36px;
  left: 267px;
  top: 1134px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  color: #6d6d6d;
}
.design {
  position: absolute;
  width: 194px;
  height: 25px;
  left: 267px;
  top: 1439.89px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.8816px;
  line-height: 24px;
  /* identical to box height, or 135% */

  /* Dark */

  color: #363848;
}
.from {
  position: absolute;
  width: 254px;
  height: 72px;
  left: 267px;
  top: 1463.89px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  color: #6d6d6d;
}

.get1 {
  position: absolute;
  width: 195px;
  height: 25px;
  left: 977px;
  top: 1112px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.8816px;
  line-height: 24px;
  /* identical to box height, or 135% */

  /* Dark */

  color: #363848;
}
.nofeel {
  position: absolute;
  width: 254px;
  height: 72px;
  left: 977px;
  top: 1137px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  color: #6d6d6d;
}

.hassle {
  position: absolute;
  width: 116px;
  height: 25px;
  left: 1049px;
  top: 1277px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.8816px;
  line-height: 24px;
  /* identical to box height, or 135% */

  /* Dark */

  color: #363848;
}

.nomore {
  position: absolute;
  width: 267px;
  height: 72px;
  left: 1049px;
  top: 1301px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  color: #6d6d6d;
}

.full {
  position: absolute;
  width: 124px;
  height: 25px;
  left: 948px;
  top: 1435px;


  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17.8816px;
  line-height: 24px;
  /* identical to box height, or 135% */

  /* Dark */

  color: #363848;
}

.get {
  position: absolute;
  width: 241.13px;
  height: 54px;
  
  left: 948.42px;
  top: 1460px;


  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  /* or 164% */

  color: #6d6d6d;
}

.who {
  position: absolute;
  width: 539px;
  height: 63px;
  left: 450px;
  top: 1820px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 63px;
  /* identical to box height */

  /* Dark */

  color: #363848;
}
.img {
  position: absolute;
  width: 105px;
  height: 63.91px;
  left: 88px;
  top: 40.09px;
}
.group {
  position: absolute;
  width: 241.35px;
  height: 251.41px;
  left: 753.77px;
  top: 201.94px;
  
  background: #FFFFFF;
}
.group1 {
  position: absolute;
width: 172.4px;
height: 172.4px;
left: 994.12px;
top: 451.35px;

background: #FFFFFF;
}
.group2 {
  position: absolute;
width: 172.4px;
height: 172.4px;
left: 1164.51px;
top: 279.68px;

background: #FFFFFF;
}
.endlogo{
  position: absolute;
  
  width: 91px;
  height: 58px;
  left: 201px;
  top: 3375px;
  

}
.rectangle{
  position: absolute;
width: 943.69px;
height: 303.25px;
left: 248px;
top: 2191.75px;

background: #ECEBFF;
border-radius: 70.25px;
}
.green {
  position: absolute;
  width: 172.4px;
  height: 172.4px;
  left: 1035.12px;
  top: 203px;
}
.poly1 {
  position: absolute;
  width: 49.97px;
  height: 49.97px;
  left: 332.2px;
  top: 102px;
}
.poly2 {
  position: absolute;
  width: 43.27px;
  height: 37.48px;
  left: 743.48px;
  top: 510.32px;

  /* Yellow */
}
.poly3 {
  position: absolute;
  width: 35.04px;
  height: 35.53px;
  left: 214.02px;
  top: 662px;
}
.reddot {
  position: absolute;
  width: 11.06px;
  height: 11.15px;
  left: 44px;
  top: 382px;
  border-radius: 1.85806px;
}
.yellowdot {
  position: absolute;
  width: 11.06px;
  height: 11.15px;
  left: 659px;
  top: 313px;
}

.vector1 {
  position: absolute;
  width: 86.92px;
  height: 52.44px;
  left: 1181.5px;
  top: 251.1px;
  border: none;
  transform: rotate(4.83deg);
}
.pink {
  position: absolute;
  width: 172.4px;
  height: 172.4px;
  left: 1205.52px;
  top: 537.35px;
}

.back2 {
  position: absolute;

  left: 0px;
  top: 1730.25px;
}
.back3 {
  position: absolute;

  left: 0px;
  top: 2188.25px;
}

.tt {
  position: absolute;
  width: 909.19px;
  height: 519.18px;
  left: -46.83px;
  top: 0px;
}
.claim {
  position: absolute;
  width: 644.24px;
  height: 94px;
  left: 767.2px;
  top: 2822px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 47px;
  /* or 112% */

  /* Dark */

  color: #363848;
}

.myImage {
  position: absolute;
  width: 909.19px;
  height: 519.18px;
  left: -46.83px;
  top: 0px;
}

.upgrade {
  position: absolute;
  width: 498px;
  height: 64px;
  left: 767px;
  top: 2941.2px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  /* Dark */

  color: #363848;
}

.logoo {
  position: absolute;
  width: 105px;
  height: 63.91px;
  left: 88px;
  top: 38.09px;
}

.topi {
   position: absolute;
  width: 1410px;
  height: 910.12px;
  left: 0px;
  top: -88.78px; 
}
.girl {
  position: absolute;
  width: 327.65px;
  height: 433.61px;
  
  left: 540.73px;
  top: 1056.94px;

}
.hero{
  position: absolute;
width: 657.53px;
height: 515.75px;
left: 724.47px;
top: 108px;
}

.last {
  box-sizing: border-box;

  position: absolute;
  width: 862.9px;
  height: 515.17px;
  left: 289px;
  top: 1933px;
  
  border: 7.025px solid #FFFFFF;
  border-radius: 35.125px;
}

.foot {
  position: absolute;
  width: 311px;
  height: 41px;
  left: 917.3px;
  top: 3302px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 31.5px;
  line-height: 40px;
  /* identical to box height, or 129% */

  color: white;
}
.inp3 {
  border: 0.9px solid rgba(255, 255, 255, 0.38);
  border-radius: 8px;
  padding: 16px;
  position: absolute;
  width: 439.4px;
  height: 25.38px;
  left: 840.2px;
  top: 3403.31px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14.4px;
  line-height: 23px;
  color: #909090;
  background: #263041;
}
.inp4 {
  border: 0.9px solid rgba(255, 255, 255, 0.38);
  border-radius: 8px;
  position: absolute;
  width: 439.4px;
  padding: 16px;
  height: 167px;
  left: 840.2px;
  top: 3486.1px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16.4px;
  line-height: -1px;
  color: #909090;
  background: #263041;
}
.box1 {
  box-sizing: border-box;

  position: absolute;
  width: 346.48px;
  height: 98.92px;
  left: 192.3px;
  top: 1113.79px;

  /* White */

  background: #ffffff;
  border: 0.5px solid #dadada;
  box-shadow: 0px 10.2474px 15.6408px rgba(5, 5, 5, 0.11);
  border-radius: 10.7867px;
}

.box2 {
  box-sizing: border-box;

  position: absolute;
  width: 346.48px;
  height: 108px;
  left: 120px;
  top: 1281px;

  /* White */

  background: #ffffff;
  border: 0.5px solid #dadada;
  box-shadow: 0px 10.2474px 15.6408px rgba(5, 5, 5, 0.11);
  border-radius: 10.7867px;
}
.box3 {
  box-sizing: border-box;

  position: absolute;
  width: 346.48px;
  height: 108px;
  left: 192px;
  top: 1443px;

  /* White */

  background: #ffffff;
  border: 0.5px solid #dadada;
  box-shadow: 0px 10.2474px 15.6408px rgba(5, 5, 5, 0.11);
  border-radius: 10.7867px;
}
.box4 {
  /* background */

  box-sizing: border-box;

  position: absolute;
  width: 346.48px;
  height: 108px;
  left: 901.22px;
  top: 1115.73px;

  /* White */

  background: #ffffff;
  border: 0.5px solid #dadada;
  box-shadow: 0px 10.2474px 15.6408px rgba(5, 5, 5, 0.11);
  border-radius: 10.7867px;
}
.logolast {
  position: absolute;
  width: 105px;
  height: 63.91px;
  left: 88px;
  top: 50.09px;
}
.footerr {
  position: absolute;

  left: 0px;
  top: 3300px;

  /* BG Colors/bg-dark */

  background: #263041;
}
.social {
  position: absolute;
  width: 162px;
  height: 41px;
  left: 202px;
  top: 3457px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  /* identical to box height, or 162% */

  text-align: center;

  color: #ffffff;
}
.b3 {
  position: absolute;
  color: white;
  width: 228px;
  height: 47.7px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16.2px;
line-height: 16px;
  left: 959px;
  top: 3726px;
  background: #f9b400;
  border-radius: 8px;
  border: none;
}
.b3:hover {background-color: grey}

.b3:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.box5 {
  box-sizing: border-box;

  position: absolute;
  width: 346px;
  height: 108px;
  left: 974px;
  top: 1282px;

  /* White */

  background: #ffffff;
  border: 0.5px solid #dadada;
  box-shadow: 0px 10.2474px 15.6408px rgba(5, 5, 5, 0.11);
  border-radius: 10.7867px;
}

.box6 {
  box-sizing: border-box;

  position: absolute;
  width: 346.48px;
  height: 104px;
  left: 869.22px;
  top: 1442.37px;

  /* White */

  background: #ffffff;
  border: 0.5px solid #dadada;
  box-shadow: 0px 10.2474px 15.6408px rgba(5, 5, 5, 0.11);
  border-radius: 10.7867px;
}

.btn1 {
  position: absolute;
  width: 44.78px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 19.4161px;
  line-height: 29px;

  height: 45.3px;
  left: 204px;
  top: 1130px;
  background: rgba(53, 117, 226, 0.6);
  border-radius: 14.0228px;
  border: none;
}

.btn2 {
  position: absolute;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 19.4161px;
  line-height: 29px;
  width: 44.78px;
  color: white;
  height: 45.3px;
  left: 132.06px;
  top: 1294.57px;
  background: #86acee;
  border-radius: 14.0228px;
  border: none;
}
.btn3 {
  position: absolute;
  width: 44.78px;
  color: white;
  height: 45.3px;
  left: 204.06px;
  top: 1458.89px;
  border: none;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 19.4161px;
  line-height: 29px;

  background: #86acee;
  border-radius: 14.0228px;
}
.btn4 {
  position: absolute;
  width: 44.78px;
  height: 45.3px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 19.4161px;
  line-height: 29px;

  color: #ffffff;

  border: none;
  left: 913.28px;
  top: 1133px;

  background: #63be98;
  border-radius: 14.0228px;
}
.btn5 {
  position: absolute;
  width: 44.78px;
  height: 45.3px;
  left: 985.58px;
  top: 1305px;

  background: #63be98;
  border-radius: 14.0228px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 19.4161px;
  line-height: 29px;

  color: #ffffff;
}
.btn6 {
  position: absolute;
  width: 44.78px;
  height: 45.3px;
  left: 880.28px;
  top: 1458px;


  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 19.4161px;
  line-height: 29px;

  color: #ffffff;
  background: #63be98;
  border-radius: 14.0228px;
  border: none;
}
.line {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 24.58%;
  right: 12%;
  left: 67px;
  top: 3156px;
  bottom: 22.79%;

  background: #30323f;
}
.table {
  position: absolute;
  width: 358px;
  height: 24px;
  left: 349px;
  top: 3032px;
}
.line1 {
  /* Vector */

  position: absolute;
  position: absolute;
  left: 0px;
  top: 1556px;

  
}
.offertable{
  position: absolute;
width: 636px;
height: 351px;
left: 58px;
top: 2814px;
}
.line3{
  position: absolute;
  width: 742px;
  height: 653.48px;
  left: 0px;
  top: 1506px;
  

}
.group4{
  position: absolute;

  left: 1012px;
    top: 2107.12px;
}
.copyright {
  position: absolute;
  width: 358px;
  height: 24px;
  left: 192px;
  top: 3619px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #f3f3f3;

  opacity: 0.5;
}
